<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h2>Welcome to Wall</h2>
        <div class="row">
          <div class="col-md-8">
            <% include ../static/partials/messages.ejs %>
            <form action="/user" method="post">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Enter Name" class="form-control"/>
                <small class="text-muted" id="nameHelp">name must be at least 4 characters in length</small>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
                <small class="text-muted" id="emailHelp">email must be a valid email</small>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter Password" class="form-control"/>
                <small class="text-muted" id="passwordHelp">password must be at least 6 characters in length</small>
              </div>
              <div class="form-group">
                <label for="password_conf">Confirm Password:</label>
                <input type="password" name="password_conf" placeholder="Confirm Password" class="form-control"/>
                <small class="text-muted" id="passwordConfirmationHelp">confirmation must match entered password above</small>
              </div>
              <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
          </div>
        </div>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
